node_modules/
.expo/
dist/
build/
android/
ios/
*.zip
.env
urgify-app/node_modules/
urgify-app/.expo/
urgify-app/dist/
urgify-app/android/
urgify-app/ios/
urgify-admin/node_modules/
urgify-landing/node_modules/
